- title 'Leads'
- secondary_link_to 'Lead',new_lead_path, class: 'btn-default' 
.newlead
%table.table.table-striped
  %thead
    %tr 
      %th Name
      %th Phone
      %th Website
      %th

  %tbody
    = render 'index'


     

